// Add option error
.add-option-error {
  color: $off-white;
  font-style: italic;
  margin: $m-size 0 0 0;
  padding: 0 $m-size;
}

.add-option {
  display: flex;
  padding: $m-size;
}

.add-option__input {
  background-color: $dark-blue;
  border: none;
  border-bottom: 0.3rem solid darken($color: $dark-blue, $amount: 10%);
  color: $off-white;
  flex-grow: 1;
  margin-right: $s-size;
  padding: $s-size;
}

.add-option__input:focus {
  outline: none;
}
