// What should i do btn
.big-button {
  background-color: $purple;
  border: none;
  border-bottom: 0.6rem solid darken($color: $purple, $amount: 10%);
  color: #fff;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $xl-size;
  padding: 2.4rem;
  width: 100%;
}

.big-button:disabled {
  opacity: 0.5;
}

// Base button
.button {
  background-color: $purple;
  border: none;
  border-bottom: 0.3rem solid darken($color: $purple, $amount: 10%);
  font-weight: 500;
  padding: $s-size;
}

// Remove option btn

.button--link {
  background: none;
  border: none;
  color: $off-white;
  padding: 0;
}
